<ul>
  <% $rolodex.contacts.each do |contact| %> 
  <li><p><strong>Name: </strong><%= contact.first_name %> <%= contact.last_name %></p>
  <p><strong>Email: </strong><%= contact.email %></p>
  <p><strong>Note: </strong><%= contact.note%></p></li>
  <br>
  <% end %>
</ul>