<ul>
  <% $rolodex.contacts.each do |contact| %> 
  <li><p>Name: <%= contact.first_name %> <%= contact.last_name %></p>
  <p>Email: <%= contact.email %></p>
  <p>Note: <%= contact.note%></p></li>
  <% end %>
</ul>