<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <title><%= @page %></title>
	</head>
	<body>
    <header>
      <h1>CRM</h1>
    </header>

    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/contacts">View Contacts</a></li>
        <li><a href="/contacts/new">Add Contact</a></li>
      </ul>
    </nav>

    <section>
      <h2><%= @page %></h2>
		  <%= yield %>
    </section>

    <footer>
      <p>CRM &copy; 2015</p>
    </footer>

	</body>
</html>