<form action="/contacts" method="post">
<fieldset>
<legend>Contact Info</legend>
  <p><label class="field" for="first_name">First name: </label><input type="text" name="first_name" placeholder="e.g. John"></p>
  <p><label class="field" for ="last_name">Last name: </label><input type="text" name="last_name" placeholder="e.g. Smith"></p>
  <p><label class="field" for ="email">Email: </label><input type="text" name="email" placeholder="e.g. john.smith@domain.com"></p>
  <p><label class="field" for="note">Note: </label><input type="text" name="note" placeholder="e.g. Coworker"></p>
  <input type="submit" name="Submit" value="Add">
  </fieldset>
</form>
